*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 243, 243);
    overflow: hidden;
}
hr{
    border: 1px solid rgb(243, 243, 243);
}

.logo{
padding: 20px;
background-color: white;
margin-top: 1px;
}


.titolo{
    width: 170px;
    height: 50px;
    display: inline-block;
    font-size: 45px;
    text-align: top;
}



main{
    width: 70%;
    height: 780px;
    background-color: white;
    background-position: center;
    margin-left: 15%;
    margin-top: 3%;
}

.pulsanti{
    width: 400px;
    height: 80px;
}

.pulsante1{
    width: 100px;
    height: 30px;
    margin-left: 45px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(44, 177, 221);
    color: white;
    border-color: rgb(44, 177, 221);
    cursor: pointer;
}

.pulsante2{
    width: 100px;
    height: 30px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.61);
    color: rgba(128, 128, 128, 0.507);
    cursor: pointer;
    border-color: lightgray;
    
}

.corpo{
    margin-top: 35px;
    width: 80%;
    height: 700px;
    background-color: white;
    margin-left: 45px;
}

ul{
    margin-left: 1em;
    padding: 7px;
    
}

li{
    
    list-style: none;
    padding: 10px;
    font-size: 25px;
}

.check{
    border: 2px solid rgb(148, 241, 8);
    border-radius: 100%;
    color: rgb(148, 241, 8);
    font-size: 25px;
    padding: 4px;
}

.cross{
    border: 2px solid red;
    border-radius: 100%;
    color: red;
    padding: 4px;
}

.editorial{
    font-size: 10px;
    background-color: rgb(38, 187, 233);
    border-radius: 20px;
    color: white;
    padding:8px;
}

.q1-goals{
    font-size: 10px;
    background-color: rgb(168, 54, 221);
    border-radius: 20px;
    color: white;
    padding:8px;
}

.recruiting{
    font-size: 10px;
    background-color: rgba(0, 255, 179, 0.829);
    border-radius: 20px;
    color: white;
    padding:8px;
}


.website{
    font-size: 10px;
    background-color: rgb(211, 40, 182);
    border-radius: 20px;
    color: white;
    padding:8px;
}


.mobile{
    font-size: 10px;
    background-color: rgb(223, 156, 14);
    border-radius: 20px;
    color: white;
    padding:8px;
}


.sales{
    font-size: 10px;
    background-color: rgb(37, 172, 25);
    border-radius: 20px;
    color: white;
    padding:8px;
}

/* Inserimento text dell'etichetta in base alla classe dello span */

span.editorial::after{
    content: "Editorial";  
}

span.recruiting::after{
    content: "Recruiting";  
}

span.mobile::after{
    content: "Mobile";  
}

span.q1-goals::after{
    content: "Q1 Goals";  
}

span.website::after{
    content: "Website";  
}

span.sales::after{
    content: "Sales";  
}